* {
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html, body {
	width: 100%;
	height: 100%;
}

.game-container {
	width: 100%;
	height: 100%;
}

/* ------- стили для опций игры --------*/

.asset-container {
	position: absolute;
	left: 10px;
	top: 20px;

	min-width: 50px;
	height: 20px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.gold-counter {
	color: gold;
}

.wood-counter {
	color: brown;
}

.crystal-counter {
	color: cyan;
}

.shop-btn {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

@media (pointer: none), (pointer: coarse) {
	.shop-btn {
		top: 90%;
	}
}
.game-btn-container {
	position: absolute;
	right: 10px;
	top: 20px;

}
.game-options-container {
	/*width: 600px; 
	height: 600px; /*временные размеры*/

	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	top: 0;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

@media (pointer: none), (pointer: coarse) {
	.game-options-container {
		width: 100vw;
		height: 100vh;
	}
}

.shop-container, .info-container, .info-message-lacks, .info-message-buy {
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow:	inset 5px 5px 5px rgba(255, 255, 255, 0.8),
			0 0 0 3px #c7ced1,
			0 0 0 7px #eaf1f5;
	background-color: #b7e6da;
}

.shop-container {
	width: 560px;
	height: 300px;

	position: relative;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 10px;
	padding: 10px;

	border-radius: 20px;
	z-index: 1000;
}

@media (pointer: none), (pointer: coarse) {
	.shop-container {
		width: 90vw;
		height: 80vh;
	}
}

.shop, .shop-product, .shop-item, .shop-item-type, .shop-flyers, .type-flyers, .flyers-gallery, .flyers-gallery-type {
	width: 500px;
	height: 200px;

	display: grid;
	grid-template-rows: 100%;
	align-content: end;
	align-content: center;
	/*justify-items: center;*/
}

@media (pointer: none), (pointer: coarse) {
	.shop, .shop-product, .shop-item, .shop-item-type, .shop-flyers, .type-flyers, .flyers-gallery, .flyers-gallery-type {
		width: 100%;;
		height: 100%;;
	}
}

.shop,
.shop-item, 
.shop-flyers, 
.flyers-gallery {
	/*display: none;*/
	overflow: hidden;
	position: relative;
	cursor: grab;
}


.shop-item:active,
.type-flyers:active {
	cursor: grabbing;
}

.shop-product,
.shop-item-type,
.type-flyers,
.flyers-gallery-type {
	/*display: none;*/
	width: auto;

	position: absolute;
	left: 0;
	top: 0;
	transform: translate(0, 0);
	will-change: transform;
}

.shop-item,
.shop-item-type,
.shop-flyers,
.type-flyers,
.flyers-gallery,
.flyers-gallery-type {
	display: none;
}

#btn-back {
	display: none;
	position: absolute;
	/*left: 500px;*/
	top: 10px;
	right: 30px;
}

@media (pointer: none), (pointer: coarse) {
	#btn-back {
		left: 90%;
	}
}

@media (pointer: none), (pointer: coarse) and (orientation: portrait) { 
	#btn-back {
		left: 75vw;
	}
}

.cell-for-shop {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 60% 40%;
	align-items: center;
	padding: 10px;
}

.cell-for-shop:hover .picture-card {
	box-shadow: 	inset 1px 1px 30px rgba(255, 255, 255, 1),
			5px 5px 10px 0 #c7ced1;	
}

.picture-card {
	width: 105px;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid grey;
	border-radius: 5px;
	box-shadow:	inset 1px 1px 10px rgba(255, 255, 255, 1),
			5px 5px 10px 0 #c7ced1;
}

@media (pointer: none), (pointer: coarse) and (orientation: portrait) {
	.picture-card {
		width: 20vw; 
	}
}

.text-card {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

.info-container {
	position: absolute;
	left: 175px;
	top: 530px;

	width: 250px;
	height: 60px;

	display: none;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

@media (pointer: none), (pointer: coarse) {
	.info-container {
		left: 31%;
		top: 40%;
	}
}

.info-btn {
	width: 60%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.div-info-message {
	width: 500px;
	height: 220px;
	display: none;
	justify-content: center;
	align-items: center;

	/*position: absolute;
	left: 50vw;
	top: 50vh;
	z-index: 100;*/
}

.info-message-lacks,
.info-message-buy {
	width: 250px;
	height: 60px;

	display: none;
	justify-content: space-around;
	align-items: center;
}



@media (pointer: none), (pointer: coarse) {
	.info-message {
		left: 33%;
		top: 45%;
	}
}

button {
	width: 40px;
	height: 20px;

	margin-top: 0px;
	margin-right: 0px;

	color: rgba(255,255,255,1);

	border: 1px solid grey;
	background: linear-gradient(to bottom, #d5dfe1, #6d6e6f);
	border-radius: 3px;
	box-shadow: inset 2px 2px 5px rgba(255,255,255,0.2);
	cursor: pointer;
}

button:active {
	box-shadow: inset 2px 2px 5px rgba(0,0,0,1);
}

button:hover {
	background: linear-gradient(to bottom, #cad0d3, #4a4d4f);	
}
.info-btn {
	width: 25px;
	height: auto;
	aspect-ratio: 1;
	border-radius: 50%;
}

/* ------- стили для самой игры --------*/

.viewport-container {
	width: 100%;
	height: 100%;

	overflow: hidden;
	position: relative;
	cursor: grab;

	border: 1px solid black;
	border-radius: 12px;
	box-shadow: 	inset 1px 1px 2px rgba(0, 0, 0, 1),
			0 0 0 3px #c7ced1,
			4px 4px 6px rgba(0, 0, 0, 1);
}

@media (pointer: none), (pointer: coarse) {
	.viewport-container {
		width: 100vw; 
		height: 100vh; 
	}
}

.viewport-container:active {
	cursor: grabbing;
}

.container-for-panoram {
	position: absolute;
	left: 0;
	top: 0;

	transform: translate(0, 0);
	will-change: transform;

	/*transform-style: preserve-3d;
	transform: rotateX(65deg) rotateY(0deg) rotateZ(50deg);*/
}

#fog-canvas, #item-canvas,
#item-effect-canvas,
#effect-canvas,
.magic-way-canvas,
#flyer-canvas,
#dragging-canvas {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	z-index: 1;
}
#flyer-canvas {
	z-index: 10;
}


.fly-item {
	position: absolute;
	z-index: 100;
	cursor: pointer;
}

